body{
    font-family: 'Lora', serif;
    margin: 0;
    padding: 10;
    background: linear-gradient(90deg, rgba(215,190,255,0.85) 25%, rgba(227,210,255,0.75) 75%); 
    
}

.container {
    width: 500px;
    height: 520px;
    position: relative;
    top: 120px;
    left: 330px;
    right: 250px;
    padding: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, hsla(280, 27%, 59%, .4) 0%, hsla(290, 46%, 55%, 0.4) 90%);
    margin-left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 23px;
    letter-spacing: 1.5px;
    color: #FFDBDD;
}

h1{
    font-size: 45px;
    text-shadow: 2.5px 2.5px 7px black;
    text-align: center; 
    letter-spacing: 2px;
    color: #FFC2FF;
    background-color: #cfced100;
    margin: 0px;
    padding: 15px;
}

p {
    margin: 35px;
    padding: 5px;
    text-shadow: 0.5px 0.5px 4px black;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #FFDBDD;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    justify-content: left;
    align-items: left;
    margin: 20px 0 40px 0;
    display: inherit;
    border: 1px solid #D3DCBB;
    box-sizing: border-box;
}
    
button {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0.5px 0.5px 1px black;
    background-color: #744caf1c;
    color: #FFDBDD;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
}

th, td {
    border: 1px solid #D3DCBB;
    text-align: left;
    padding: 10px;
    font-size: 20px;
    color: #FFDBDD;
}

td{
    background-color: rgba(158, 131, 226, 0.2);
    font-weight: 500;
}

th {
    background-color: rgba(158, 131, 226, 0.5);
}
h2{
    font-family: 'Aldrich', sans-serif;

    letter-spacing: 2px;
    font-size: 40px;
    text-shadow: 1px 1px 5px black;
    text-align: left;
    color: #FFDBDD;
}
h3{
    font-size: 25px;
    text-shadow: 1px 1px 6px black;
    text-align: left;
    letter-spacing: 1px;
    color: #FFDBDD;
    margin-left: 10px;
    padding: 5px;
}
h4{
    font-size: 20px;
    text-shadow: 1px 1px 6px black;
    text-align: left;
    letter-spacing: 1px;
    color: #FFDBDD;
    background-color: #cfced100;
    margin-left: 60px;
    
}